unpackaged/main/default/flows/Contract_and_CLI_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Opp_Product_to_CLI</name>
        <label>Assign Opp Product to CLI</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>singleContractLineItemRow.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppProductsLoop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContractLineItemRow.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_creation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContractLineItemRow.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppProductsLoop.Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProductsLoop.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppProductsLoop.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_single_CLI_to_ArrayCLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_single_CLI_to_ArrayCLI</name>
        <label>Store single CLI to ArrayCLI</label>
        <locationX>264</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>vStoreCLIArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleContractLineItemRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppProductsLoop</targetReference>
        </connector>
    </assignments>
    <description>TAGCRM-626</description>
    <interviewLabel>Contract and CLI Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract and CLI Creation</label>
    <loops>
        <name>OppProductsLoop</name>
        <label>OppProductsLoop</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <collectionReference>OppProductsData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Product_to_CLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contract_Line_Items_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Contract_creation</name>
        <label>Contract creation</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>ContractStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>$Record.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>$Record.Contract_Term_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Of_Living__c</field>
            <value>
                <elementReference>$Record.Cost_Of_Living__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Contract_Line_Items_Creation</name>
        <label>Contract Line Items Creation</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <inputReference>vStoreCLIArray</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Opp_Product_records</name>
        <label>Opp Product records</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProductsData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Year__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ContractStatus</name>
        <label>Contract Status</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>OppProductsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_creation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_Product_records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppProductsData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>singleContractLineItemRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>vStoreCLIArray</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
</Flow>
