unpackaged/main/default/flows/Merge_and_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>AUD</name>
        <choiceText>AUD - Australian Dollar</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CAD</name>
        <choiceText>CAD - Canadian Dollar</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>escalated</name>
        <choiceText>Escalated</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>feature_request</name>
        <choiceText>Feature Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GBP</name>
        <choiceText>GBP - British Pound</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>high</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>new</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>no</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>onhold</name>
        <choiceText>On Hold</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>problem</name>
        <choiceText>Problem</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>question</name>
        <choiceText>Question</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD - U.S. Dollar</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>web</name>
        <choiceText>Web</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>CaseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Case</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Record_Created</name>
        <label>Record Created</label>
        <locationX>864</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Case</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseRecord</targetReference>
            </connector>
            <label>Case Record Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>yes_no</name>
        <label>yes/no</label>
        <locationX>536</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>createrecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Case</targetReference>
            </connector>
            <label>createrecord</label>
        </rules>
    </decisions>
    <description>This is for Ticket 316. Operations ticket from button to merge or delete contacts submitted by user.</description>
    <dynamicChoiceSets>
        <name>case_reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Merge and Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merge and Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>873</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>get_Created_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <stringValue>Sales Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SelectCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>CaseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeIdToStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Select_Status_from_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Created_Case</name>
        <label>get Created Case</label>
        <locationX>743</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Create_Case</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordtypeId</name>
        <label>RecordtypeId</label>
        <locationX>531</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeIdToStore</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CaseRecord</name>
        <label>CaseRecord</label>
        <locationX>1118</locationX>
        <locationY>377</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordCreated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Case record with case number &lt;/span&gt;{!Create_Case} has been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is for Ticket 316. Operations ticket from button to merge or delete contacts submitted by user.</description>
        <name>Merge_Delete</name>
        <label>Merge &amp; Delete</label>
        <locationX>400</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>yes_no</targetReference>
        </connector>
        <fields>
            <name>Display_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Roboto, sans-serif; color: rgb(38, 50, 56);&quot;&gt;You do not have permission to merge or delete contacts, please raise a case with the operations team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_Merge_or_Delete_record</name>
            <choiceReferences>yes</choiceReferences>
            <choiceReferences>no</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to Merge or Delete record?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>714</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordtypeId</targetReference>
        </connector>
        <fields>
            <name>Case_Information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Case Information:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Request</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!$User.FirstName} {!$User.LastName}  </stringValue>
            </defaultValue>
            <fieldText>Case Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Additional Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Status_from_picklist</name>
            <choiceReferences>SelectStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectCaseOrigin</name>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseReason</name>
            <choiceReferences>case_reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Description Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Merge_Delete</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordTypeIdToStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
