unpackaged/main/default/flows/Opportunity_KPI_Calculate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Add Total Contracted One-Time Revenue</description>
        <name>Add_Total_Contracted_One_Time_Revenue</name>
        <label>Add Total Contracted One-Time Revenue</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>vTotalContractedOne_Time_Revenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Total_Contracted_One_Time_Revenue.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Total_Contracted_One_Time_Revenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TCV</name>
        <label>Assign TCV</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>vTCV</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TCVg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TCVg</name>
        <label>Assign TCVg</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vTCVg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTCVg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Contracted_Hardware_Revenue</name>
        <label>Assign Total Contracted Hardware Revenue</label>
        <locationX>264</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>vTotalContractedHardwareRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Total_Contracted_Hardware_Revenue.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Total_Contracted_Hardware_Revenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Contracted_Professional_Services</name>
        <label>Assign Total Contracted Professional Services</label>
        <locationX>264</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>vTotalContractedProfessionalServices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Total_Contracted_Professional_Services.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Total_Contracted_Professional_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Contracted_Recurring_Revenue</name>
        <label>Assign Total Contracted Recurring Revenue</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>vTotalContractedRecurringRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Total_Contracted_Recurring_Revenue.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Total_Contracted_Recurring_Revenue</targetReference>
        </connector>
    </assignments>
    <description>Calculate the KPI&apos;s Fields</description>
    <formulas>
        <name>fTCV</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fTCVg</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount} - {!$Record.Current_Contract_Annual_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>vAARR</name>
        <dataType>Currency</dataType>
        <expression>{!vTotalContractedRecurringRevenue}/({!$Record.Contract_Term_Months__c}/12)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>vACAR</name>
        <dataType>Currency</dataType>
        <expression>{!fTCV}/({!$Record.Contract_Term_Months__c}/12)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity  - KPI Calculate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity  - KPI Calculate</label>
    <loops>
        <description>Add Total Contracted Hardware Revenue</description>
        <name>Loop_Total_Contracted_Hardware_Revenue</name>
        <label>Loop Total Contracted Hardware Revenue</label>
        <locationX>176</locationX>
        <locationY>2039</locationY>
        <collectionReference>Get_Opportunity_Products_for_Hardware_Revenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Contracted_Hardware_Revenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Sum Total Contracted One-Time Revenue</description>
        <name>Loop_Total_Contracted_One_Time_Revenue</name>
        <label>Loop Total Contracted One-Time Revenue</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Total_Contracted_One_Time_Revenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Products_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Add Total Contracted Professional Services</description>
        <name>Loop_Total_Contracted_Professional_Services</name>
        <label>Loop Total Contracted Professional Services</label>
        <locationX>176</locationX>
        <locationY>1583</locationY>
        <collectionReference>Get_Opportunity_Products_for_Professional_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Contracted_Professional_Services</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Products_for_Hardware_Revenue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Add Total Contracted Recurring Revenue</description>
        <name>Loop_Total_Contracted_Recurring_Revenue</name>
        <label>Loop Total Contracted Recurring Revenue</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <collectionReference>Get_Opportunity_Products_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Contracted_Recurring_Revenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Products_for_Professional_Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products One Time</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Total_Contracted_One_Time_Revenue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software Products</stringValue>
            </value>
        </filters>
        <filters>
            <field>Revenue_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Recurring</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products_0</name>
        <label>Get Opportunity Products One Time</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Total_Contracted_Recurring_Revenue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Revenue_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products_for_Hardware_Revenue</name>
        <label>Get Opportunity Products for Hardware Revenue</label>
        <locationX>176</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Total_Contracted_Hardware_Revenue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hardware Products</stringValue>
            </value>
        </filters>
        <filters>
            <field>Revenue_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Recurring</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products_for_Professional_Services</name>
        <label>Get Opportunity Products for Professional Services</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Total_Contracted_Professional_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Revenue_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Recurring</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Values</name>
        <label>Update Opp Values</label>
        <locationX>176</locationX>
        <locationY>2375</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AARR__c</field>
            <value>
                <elementReference>vAARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACAR__c</field>
            <value>
                <elementReference>vACAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Contract_Value_Growth_TCVg__c</field>
            <value>
                <elementReference>vTCVg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Contract_Value_TCV__c</field>
            <value>
                <elementReference>vTCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Contracted_Professional_Services__c</field>
            <value>
                <elementReference>vTotalContractedProfessionalServices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Contracted_Recurring_Revenue__c</field>
            <value>
                <elementReference>vTotalContractedRecurringRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hardware_Revenue__c</field>
            <value>
                <elementReference>vTotalContractedHardwareRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_One_Time_Revenue__c</field>
            <value>
                <elementReference>vTotalContractedOne_Time_Revenue</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_TCV</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vTCV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTCVg</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>hold Total Contract Hardware Revenue</description>
        <name>vTotalContractedHardwareRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total Contracted One-Time Revenue</description>
        <name>vTotalContractedOne_Time_Revenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total Contracted Professional Services = Total Price of Opp product where Reporting Level = &apos;Professional Services&apos; and Revenue Model = &apos;Non-Recurring&apos;</description>
        <name>vTotalContractedProfessionalServices</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Hold Total Contracted Recurring Revenue</description>
        <name>vTotalContractedRecurringRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
